.img-medallion{
	width: 15%;
	float: left;
}
.img-logo{
	width: 15%;
	margin-left: 24%;
}
.img-wandciri{
	width: 26%;
	float: right;
}
.css-bckg-html{
	background-color: black;
}
.div-form{
	margin-left: 33%;
	margin-top: 15%;
	color: white;
	font-size: 20;
	font-family: Comic;
}
.div-echo-1{
	margin-top: 10%;
}
.div-echo{
	height: 60%;
	color: white;
}
.tablica{
	color: white;
}
.css-body{
	background-color: black;
}
.td-dl{
	width: 45%;
}